.container{
    width: 100%;
    margin: 0 auto;
}
.container h1{
    text-align: center;
}
.div_form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.div_content{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}
.div_item{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 20px;
    margin-left: 20px;
    width: 20vw;
}
.div_item img{
    max-width: 15vw;
    height: 10vw;
    border-radius: 8px;
}
.div_item h3{

    width:13vw;
}